<div *ngFor="let post of posts" class="telegram-post">
    <mat-card>
        <mat-card-content>
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button
                mat-icon-button
                (click)="onAction(post.id, 'approve')"
                aria-label="Approve">
                <mat-icon>check</mat-icon>
            </button>
            <button
                mat-icon-button
                (click)="onAction(post.id, 'reject')"
                aria-label="Reject">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
