<div class="login-container">
    <mat-card class="login-card">
        <div class="logo-container">
            <img src="assets/images/logo.png" alt="Логотип" class="app-logo" />
        </div>

        <mat-card-title class="login-title">
            Вход в приложение
        </mat-card-title>

        <mat-card-actions class="login-actions">
            <button
                mat-raised-button
                color="primary"
                class="telegram-login-button"
                (click)="login()"
            >
                <mat-icon class="telegram-icon">telegram</mat-icon>
                Войти через Telegram
            </button>
        </mat-card-actions>
    </mat-card>
</div>
