<h2 mat-dialog-title>Редактировать пост</h2>
<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Текст поста</mat-label>
        <textarea matInput formControlName="content" rows="6"></textarea>
    </mat-form-field>
    
    <app-file-uploader
        formControlName="attachments"
    ></app-file-uploader>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="cancel()">Отмена</button>
    <button
        mat-raised-button
        color="primary"
        (click)="save()"
        [disabled]="form.invalid"
    >
        Сохранить
    </button>
</mat-dialog-actions>
