.dialog-container {
    position: relative;
    padding: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-image {
    padding: 8px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}
