@use 'mixins/bg' as *;

:host {
    --mat-sidenav-container-background-color: transparent;
    --mat-toolbar-container-background-color: transparent;
}

.sidenav-container {
    height: 100vh;
    @include gradient-bg;
}
.d {
    background: transparent;
}

.sidenav {
    width: 250px;
    border-right: 1px solid #ccc;
}

.sidenav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 16px);

    &:not(.is-opened) {
        padding: 0 10px;
    }
}

.nav-list-inner {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-list__item {
    display: flex;
    align-items: center;
}

.logout {
    margin-bottom: 16px;
}

.mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.content {
    padding: 16px;
}

.active-link {
    background: rgba(0, 0, 0, 0.1);
}

.label {
    margin-left: 8px;
}


@media (max-width: 600px) {
    .sidenav {
        width: 60px;

        .label {
            display: none;
        }
    }
}

mat-toolbar {
    border-radius: 16px;
}
