<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" [opened]="opened" class="sidenav">
        <mat-nav-list class="sidenav-list" [class.is-opened]="opened">
            <section class="nav-list">
                <app-profile/>
                <div class="nav-list-inner">
                    <mat-list-item
                        *ngFor="let item of navItems"
                        [routerLink]="item.route"
                        routerLinkActive="active-link"
                    >
                        <section class="nav-list__item">
                            <mat-icon>{{ item.icon }}</mat-icon>
                            <span class="label">{{ item.label }}</span>
                        </section>
                    </mat-list-item>
                </div>
            </section>
            <a mat-list-item (click)="logout()" class="logout">
                <section class="nav-list__item">
                    <mat-icon>exit_to_app</mat-icon>
                    <span class="label">Выход</span>
                </section>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="d">
        <mat-toolbar>
            <button mat-icon-button (click)="toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>AI ассистент</span>
        </mat-toolbar>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
