<app-page-layout [title]="pageTitle">
    <mat-stepper orientation="vertical" #stepper>
        <mat-step>
            <ng-template matStepLabel>1. Откройте сведения о канале или группе</ng-template>
            <p>Перейдите в нужный канал или группу.</p>
            <p>На мобильном коснитесь названия чата, на десктопе нажмите значок «ℹ️» в правом верхнем углу.</p>
            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Далее</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>2. Добавьте бота <a href="https://t.me/{{ botUsername }}" target="_blank">&#64;{{ botUsername }}</a>  в список администраторов</ng-template>
            <p>1) В меню сведений выберите «Администраторы» → «Добавить администратора».</p>
            <p>1) Начните вводить <code>{{botUsername}}</code>, выберите бота из списка и подтвердите.</p>
            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Далее</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>3. Выдайте права на чтение сообщений</ng-template>
            <p>Отметьте только «Чтение сообщений» и «Доступ к истории чата».</p>
            <p>Это позволит боту собирать статистику без лишних полномочий.</p>
            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Далее</button>
            </div>
        </mat-step>

        <mat-step>
            <ng-template matStepLabel>4. Конец </ng-template>
            <p>Если вы все сделали правильно, можете перейти к <span routerLink="/cabinet/channels">списку ботов</span></p>
            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button routerLink="/cabinet/channels">Завершить</button>
            </div>
        </mat-step>
    </mat-stepper>
</app-page-layout>
